{% extends 'base.html' %}

{% block title %}Sign Up - YouTube Clone{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Sign Up</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <hr>
                    <p class="text-center">
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
